.container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-more {
    padding: 10px 15px;
    margin-top: 16px;
    background-color: #d3b673;
    border: 1px solid transparent;
    outline: none;
    color: var(--menu-text);
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-more:hover {
    border: 1px solid #d3b673;
    background-color: transparent;
    color: #d3b673;
}
