@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500;700;800&display=swap');

:root {
    --primary-bg: #282828;
    --menu-text: #fff;
    --primary-color: #d3b673;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
    cursor: default;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title-toco {
    text-align: center;
    color: #d3b673;
    font-size: 22px;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.title-logan {
    font-size: 38px;
    font-weight: bolder;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    font-family: 'Baloo Da 2', cursive !important;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    padding: 0 40px;
    margin: 0;
}

.p-accordion .p-accordion-content {
    display: flex;
    flex-wrap: wrap;
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: none !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #d3b673;
}
